@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Mohave:ital,wght@1,300&family=Young+Serif&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Libre Baskerville', serif;
}


.start1{
    margin-left: 0;
    height: 70px;
   
}


.about-90{
    text-align: center;
    font-size: 70px;
    font-weight: 900;
}


.ceo1{
    margin-left: 200px;
    height: 700px;
}


.ddc{
    height: 200px;
    margin-left: 820px;
    margin-top: -300px;
    
}
.maps1{
    height: 200px;
    width: 350px;
}




.nav123{
    padding-top: 45px;
    padding-right: 100px;
}


#links1{
    padding-left: 30px;
    padding-right: 30px;
}

#links2{
    padding-right: 30px;
    
}

#links3{
    padding-right: -30px;
}



.wapper{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.parent {
    width: 37%;
    margin: 20px;
    height: 280px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
}

.child{
    width: 100%;
    height: 100%;
    background-size: contain;
    transition: all 1.1s;
    position: relative;
}
.parent:hover .child{
    transform: scale(1.3);
}

.child .text p{
    position: absolute;
    left: 60px;
    color: white;
    bottom: 185px;
    font-size: xx-large;
    font-weight: 600;
}
.jee1{
    height: 280px;
    width: 100%;
}

.jee2{
    height: 280px;
    width: 100%;
}
.jee3{
    height: 300px;
    width: 100%;
}

#text-based{
    text-align: center;
    font-size: x-large;
}

.pakistan1:hover{
       transform: scale(0.1);
       color: yellow;
       cursor: pointer;
}
/* home css end */